{% extends "layout.html" %}
{% block content %}
<div class="navigation">
</div>
<h1>TV Guide</h1>
<div class="griddiv">
    <table class="gridtable">
        {% for gl in gridlines %}
            <tr class="gridrow">
                <td class="griditem">
                    <a href="{{ url_for('guide.channel') }}?chanid={{ gl["channel"].stationid }}">{{ gl["channel"].name }}</a>
                </td>
                {% for p in gl["programmes"] %}
                    <td class="griditem">{{ p["title"] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
