<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>TV Guide</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tvg.css') }}">
</head>
<body>
    <div class="container">
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="headcontainer">
                    <a class="navbutton" type="button" href="{{ url_for('guide.home') }}">Home</a>
                    <a class="navbutton" type="button" href="{{ url_for('guide.about') }}">About</a>
                    <a class="navbutton" type="button" href="{{ url_for('guide.channels') }}">Channels</a>
                    <a class="navbutton" type="button" href="{{ url_for('guide.grid') }}">Grid</a>
                </div>
            </nav>
        </header>
        {% block content %} {% endblock content %}
    </div>
</body>
</html>
