{% extends "layout.html" %}
{% block content %}
<div class="navigation">
</div>
<h1>TV Guide</h1>
<form action="{{ url_for('guide.searchtitle') }}" method="POST">
    <div class="searchtitlediv">
        Search Titles
        <input type=text name="searchtitleinput"/>
        <input type=submit value="Search"/>
    </div>
    <div class="searchpersondiv">
        Search People
        <input type=text name="searchpeopleinput"/>
        <input type=submit value="Search"/>
    </div>
</form>
{% endblock content %}
